# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Trained model files (too large for GitHub)
*.keras
*.h5
*.pkl

# Dataset (download from Kaggle)
kaggle_3m/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment variables
.env

# Kaggle credentials
kaggle.json
